*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    font-size: 14px;
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
}

.box-question{
    width: 90%;
    height: 90%;
    position: absolute;
    background-color: rgba(65, 194, 208, 0.645);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 14px;
    /* padding: 10px 14px;
    box-sizing: border-box; */
}

.box-question>.box-head{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

.box-question>.box-head>*{
    text-align: center;
    align-content: center;
    height: 100%;
}

.box-question .status{
    width: 120px;
    /* background-color: red; */
    text-align: center;
    align-content: center;
}

.box-question .question{
    flex: 1;
    /* background-color: aqua; */
}

.box-question>.box-content{
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
}

.box-question>.box-content>.box-row{
    width: 100%;
    height: 100px;
    background-color: aqua;
    align-items: center;
    display: flex;
}

.box-question>.box-content>.box-row:hover{
    cursor: pointer;
}

.box-question>.box-content>.box-row+.box-row{
    margin-top: 10px;
}

/* .box-question>.box-content>.box-row>.question{
    padding: 15px 10px;
    box-sizing: border-box;
} */