*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    font-size: 14px;
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
}

.box-question{
    width: 90%;
    height: 90%;
    position: absolute;
    background-color: rgba(65, 194, 208, 0.645);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    border: 1px solid black;
    border-radius: 14px;
    /* padding: 10px 14px;
    box-sizing: border-box; */
}

.box-question>.box-head{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

.box-question>.box-head>*{
    text-align: center;
    align-content: center;
    height: 100%;
}

.box-question .status{
    width: 120px;
    background-color: red;
    text-align: center;
    align-content: center;
}

.box-question .question{
    flex: 1;
    background-color: aqua;
}